<div class="well well-lg clearfix">
	<%#Show some errors%>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<h1>Edit <%= @ride.name %></h1>

	<%= render partial: 'rides/form' %>
</div>