<div class="well well-lg clearfix">
	<%#Show some errors%>
	<% if @ride.errors.any? %>
	  <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>
	  <ul class="list-group">
	    <% @ride.errors.messages.each do |message| %>
	      <li class="list-group-item list-group-item-danger">
	        <%= message[1][0] %>
	      </li>
	    <% end %>
	  </ul>
	<% end %>

	<h1>New Ride Along Route</h1>

	<%= render partial: 'rides/form' %>